{% extends 'wmaApp/baseIndex.html' %}
{% load static %}
{% block title %}
<title>Manage Expense</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<style>

    #UserTable_length {
        left: 20px;
        position: absolute;
    }

    #UserTable_filter {
        width: 50%;
        float: right;
    }

    .dt-buttons {
        position: absolute;
        left: 190px;
    }
    .dt-length{
        position: absolute;
    }

    input[type=search] {
        width: 100px !important;
    }
</style>

<div class="ui right aligned basic  grid">
    <div class="sixteen wide column">
        <div class="ui  pointing secondary menu">
            <div style="cursor: pointer;" class="item active" data-tab="user"
            >Expense List
            </div>
            <div style=" position: absolute;right: 1.5rem;top: 18px;">
                <button class="ui green mini plus button right" onclick="showUserModal()">
                    <i class="plus square outline icon"></i>
                    Add Expense
                </button>
            </div>
        </div>
        <div class="ui tab " data-tab="user">
            <div class="row" style="padding-left: 5px; padding-right: 5px">
                <div class="wide">
                    <table class="ui blue unstackable tiny sortable celled very nowrap very compact table" id="UserTable"
                           style="margin-top: 5px;width: 100%">
                        <thead>
                        <tr>
                            <th>ExpenseType</th>
                            <th>Amount(₹)</th>
                            <th>Description</th>
                            <th>ExpenseDate</th>
                            <th>AddedBy</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="ui modal" id="myModalUser">
                    <i class="close icon"></i>
                    <div class="header">
                        Add New Expense
                    </div>
                    <div class="content">
                        <form class="ui tiny form" id="addForm">{% csrf_token %}
                            <div class="two required fields">
                                <div class="eleven wide field">
                                    <label>Expense Type</label>
                                    <select class="ui fluid dropdown" id="expenseType">
                                        <option value="" hidden>Expense Type</option>
                                        {% for instance in instances %}
                                        <option value="{{ instance.id }}">{{ instance.name|capfirst }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="five wide field">
                                    <label>Amount</label>
                                    <input type="number" name="amount" placeholder="Amount" id="amount">
                                </div>
                            </div>
                            <div class="one fields">
                                <div class="sixteen wide field">
                                    <label>Description</label>
                                    <textarea name="description" id="description" placeholder="Description" rows="2"></textarea>
                                </div>
                            </div>

                        </form>
                        <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                            <div class="ui cancel button">Cancel</div>
                            <button class="ui right labeled icon button green saveBtn" onclick="addDetail()">
                                Submit
                                <i class="checkmark icon"></i>
                            </button>
                            <button style="display: none" class="ui right labeled icon button green saveBtnLoad" >
                                Saving ...
                                <i class="checkmark icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui basic modal custom" id="deleteUser">
                <div class="ui icon header">
                    <i class="archive icon"></i>
                    Details will be Deleted
                </div>
                <div class="content">
                    <p style="text-align: center">The detail will be deleted, are you sure to delete this Detail?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        No
                    </div>
                    <input type="hidden" id="UserID">
                    <div class="ui green ok inverted button" onclick="deleteDetail()">
                        <i class="checkmark icon"></i>
                        Yes
                    </div>
                </div>
            </div>

            <div class="ui modal" id="userModal">
                <i class="close icon"></i>
                <div class="header">
                    Edit Details
                </div>
                <div class="content">

                    <form class="ui tiny form" id="EditForm">{% csrf_token %}

                        <div class="two required fields">
                            <div class="eleven wide field">
                                <label>Expense Type</label>
                                <select class="ui fluid dropdown" id="expenseTypeEdit">
                                    <option value="" hidden>Expense Type</option>
                                    {% for instance in instances %}
                                    <option value="{{ instance.id }}">{{ instance.name|capfirst }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="five wide field">
                                <label>Amount</label>
                                <input type="number" name="amount" placeholder="Amount" id="amountEdit">
                            </div>
                        </div>
                        <div class="one fields">
                            <div class="sixteen wide field">
                                <label>Description</label>
                                <textarea name="description" id="descriptionEdit" placeholder="Description" rows="2"></textarea>
                            </div>
                        </div>

                        <input type="hidden" id="EditUserId">
                    </form>

                    <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                        <div class="ui cancel button">Cancel</div>
                        <button class="ui right labeled icon button green saveBtn" onclick="editDetail()">
                            Update
                            <i class="checkmark icon"></i>
                        </button>
                        <button style="display: none" class="ui right labeled icon button green saveBtnLoad" >
                            Saving ...
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

    var userTab;


    function showUserModal() {
        $('#myModalUser').modal('show');
        myOwnReset();
    }


    function addDetail() {
        showLoading();
        var expenseType = $('#expenseType').val();
        var amount = $('#amount').val();
        var description = $('#description').val();
        if (expenseType === ''|| amount === '') {
            $('body')
                .toast({
                    class: 'orange',
                    message: 'Name is required'
                })
            ;
            hideLoading();
            return false;
        }
        var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

        data = new FormData();
        data.append('expense_type', expenseType);
        data.append('amount', amount);
        data.append('description', description);
        data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);
        $.ajax({
            type: 'post',
            url: "{% url 'wma_api:add_expense_api' %}",
            data: data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (response) {
                console.log(response);
                if (response.success) {
                    $('body')
                        .toast({
                            class: 'success',
                            message:response.message
                        })
                    ;


                    userTab.ajax.reload(null, false);
                    $('#addForm').trigger('reset');
                    $('#myModalUser').modal('toggle');
                    hideLoading();
                } else {
                    $('body')
                        .toast({
                            class: 'error',
                            message: response.message
                        })
                    ;
                    hideLoading();

                }

                return response;
            },
            error: function (xhr, status, error) {
                response = JSON.parse(xhr.responseText);

                if(!response.success){
                    $('body')
                        .toast({
                            class: 'error',
                            message: response.message
                        })
                    ;
                    hideLoading();
                }
                else{
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                    hideLoading();
                }


            }
        });


    }


    // user Details

    userTab = $('#UserTable').DataTable({
        dom: 'Blfrtip',
        "scrollY": "350px",
        "scrollX": true,
        fixedColumns: {
            left: 1,
            right: 1
        },
        buttons: [{
            extend: 'excel',
            exportOptions: {
                columns: [0,1, 2, 3,4,5]
            }
        }

        ],
        "columnDefs": [
            {"name": "groupID", "targets": 0, "orderable": true},
            {"name": "expenseAmount", "targets": 1, "orderable": true},
            {"name": "expenseDescription", "targets": 2, "orderable": true},
            {"name": "expenseDate", "targets": 3, "orderable": true},
            {"name": "staffID", "targets": 4, "orderable": true},
            {"name": "datetime", "targets": 5, "orderable": true},
            {"name": "action", "targets": 6, "orderable": false}
        ],
        aaSorting: [[5, 'desc']],
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "pageLength": 10,
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'wma_api:ExpenseListJson' %}"
    });


    function delUser(id) {
        $('#deleteUser')
            .modal('show')
        ;
        $('#UserID').val(id)
    }

    function deleteDetail() {
        var id = $('#UserID').val();
        var formdata = new FormData();
        formdata.append('id', id);

        $.ajax({
            url: "{% url 'wma_api:delete_expense_api' %}",
            type: "post",
            data: formdata,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.success) {
                    $('body')
                        .toast({
                            class: 'success',
                            message: response.message
                        })
                    ;


                    userTab.ajax.reload(null, false);
                } else {
                    $('body')
                        .toast({
                            class: 'error',
                            message: response.message
                        })
                    ;

                }

                return response;
            },
            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                ;
            }
        });

    }

    function GetUserDetails(id) {
        myOwnReset();
        $('#userModal').modal('show');
        // var formdata = new FormData();
        // formdata.append('id', id);
        debugger;
        $.ajax({
            type: 'get',
            url: "{% url 'wma_api:get_expense_detail' %}",
            data: { id: id },
            success: function (response) {

                console.log(response);
                $('#EditUserId').val(response.data['id']);
                $('#amountEdit').val(response.data['expenseAmount']);
                $('#descriptionEdit').val(response.data['expenseDescription']);
                $('#expenseTypeEdit').val(response.data['groupID']).change();

            },
            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                ;
            }
        });
    }

    function editDetail() {
        showLoading();
        var id = $('#EditUserId').val();
        var expenseType = $('#expenseTypeEdit').val();
        var amount = $('#amountEdit').val();
        var description = $('#descriptionEdit').val();

        if (expenseType === '' || amount === '' || id === ''  ) {
            $('body')
                .toast({
                    class: 'orange',
                    message: '* fields are required'
                })
            ;
            hideLoading();
            return false;
        }
        var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

        data = new FormData();
        data.append('id', id);
        data.append('expense_type', expenseType);
        data.append('amount', amount);
        data.append('description', description);
        data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);
        debugger;

        $.ajax({
            type: 'post',
            url: "{% url 'wma_api:update_expense_api' %}",
            data: data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (response) {
                console.log(response);
                if (response.success) {
                    $('body')
                        .toast({
                            class: 'success',
                            message:response.message
                        })
                    ;


                    userTab.ajax.reload(null, false);
                    $('#EditForm').trigger('reset');
                    $('#userModal').modal('toggle');
                    hideLoading();
                } else {
                    $('body')
                        .toast({
                            class: 'error',
                            message: response.message
                        })
                    ;
                    hideLoading();

                }

                return response;
            },
            error: function (xhr, status, error) {
                response = JSON.parse(xhr.responseText);

                if(!response.success){
                    $('body')
                        .toast({
                            class: 'error',
                            message: response.message
                        })
                    ;
                    hideLoading();
                }
                else{
                    $('body')
                        .toast({
                            class: 'error',
                            message: 'An error occurred !'
                        })
                    ;
                    hideLoading();
                }


            }
        });


    }

    $(document).ready(function(){
        $('.ui.form')
            .form({
                fields: {
                    fileInput:{
                        identifier: 'name',
                        rules: [
                            {
                                type : 'empty'
                            }
                        ]
                    }
                }
            });
    });

    function myOwnReset(){
        $('.ui.form').form('reset');
    }
</script>

{% endblock %}