{% extends "wmaApp/baseIndex.html" %}
{% load static %}
{% block title %}
<title>Manage Customer</title>
{% endblock %}
{% block css %}
{% endblock %}
{% block body %}

<style>
    .avatar-upload {
        position: relative;
        max-width: 115px;
        margin: 5px auto;
    }

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

    .avatar-upload .avatar-edit input {
        display: none;
    }

    .avatar-upload .avatar-edit input + label {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all 0.2s ease-in-out;
    }

    .avatar-upload .avatar-edit input + label:hover {
        background: #f1f1f1;
        border-color: #d6d6d6;
    }

    .avatar-upload .avatar-edit input + label:after {
        color: #757575;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;

    }

    .avatar-upload .avatar-preview {
        width: 100px;
        height: 100px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .avatar-upload .avatar-preview > div {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    #UserTable_length {
        left: 20px;
        position: absolute;
    }

    #UserTable_filter {
        width: 50%;
        float: right;
    }

    .dt-buttons {
        position: absolute;
        left: 130px;
    }
    .dt-length{
        position: absolute;
    }

    input[type=search] {
        width: 100px !important;
    }
</style>

<div class="ui right aligned basic  grid">
    <div class="sixteen wide column">
        <div class="ui  pointing secondary menu">
            <div style="cursor: pointer;" class="item active" data-tab="user"
            >Customer Users List
            </div>
            <div style=" position: absolute;right: 1.5rem;top: 18px;">
                <button class="ui green mini plus button right" onclick="showUserModal()">
                    <i class="plus square outline icon"></i>
                    Add Customer User
                </button>
            </div>
        </div>
        <div class="ui tab " data-tab="user">

            <div class="row" style="padding-left: 5px; padding-right: 5px">
                <div class="wide">

                    <table class="ui blue unstackable tiny sortable celled very nowrap very compact table" id="UserTable"
                           style="margin-top: 5px;width: 100%">
                        <thead>
                        <tr>
                            <th>Photo</th>
                            <th>CustomerID</th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>PhoneNo.</th>
                            <th>Address</th>
                            <th>AddedBy</th>
                            <th>Added On</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="ui modal" id="myModalUser">
                    <i class="close icon"></i>
                    <div class="header">
                        Add Customer User
                    </div>
                    <div class="content">

                        <form class="ui tiny form" id="addForm">{% csrf_token %}
                            <div class="one fields required">
                                <div class="sixteen wide field">
                                    <label>Photo</label>

                                    <div class="ui" style="width: 100%; text-align: center">
                                        <div class="ui icon header">
                                            <div class="inline ">

                                                <div class="avatar-upload">
                                                    <div class="avatar-edit">
                                                        <input type='file' id="imageUpload" name="photo"
                                                               accept=".png, .jpg, .jpeg"/>
                                                        <label for="imageUpload"><i class="edit icon"
                                                                                    style="font-size: 1rem;padding: 0.4rem"></i>
                                                        </label>
                                                    </div>
                                                    <div class="avatar-preview">
                                                        <div id="cImg"
                                                             style="background-image: url('https://cdn-icons.flaticon.com/png/512/4785/premium/4785452.png?token=exp=1651559899~hmac=8bd1641cd72c54268deafab8b26dd7a9');">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="one required fields">
                                <div class="sixteen wide field">
                                    <label>Name</label>
                                    <input type="text" name="Name" placeholder="Full Name" id="CompanyUserName">
                                </div>

                            </div>

                            <div class="two fields">
                                <div class="field required">
                                    <label>Phone No.</label>
                                    <input type="number" name="Phone" id="UserPhoneNo" placeholder="Phone Number">
                                </div>
                                <div class="field">
                                    <label>Email</label>
                                    <input type="text" placeholder="Email Address" name="Email" id="UserEmail">
                                </div>
                            </div>

                            <div class="field">

                                <div class="required fields">

                                    <div class="sixteen wide field">
                                        <label>Address</label>
                                        <input type="text" name="shipping[address]" placeholder="Full Address"
                                               id="UserAddress">
                                    </div>

                                </div>
                            </div>
                            <div class="one fields">
                                <div class="sixteen wide field required">
                                    <label>Location/Locality</label>
                                    <select class="ui fluid dropdown" id="UserGroup">
                                        <option value="" hidden>Location/Locality</option>
                                        {% for loc in locations %}
                                        <option value="{{ loc.id }}">{{ loc.name|capfirst }}</option>
                                        {% endfor %}


                                    </select>
                                </div>
                            </div>
                        </form>

                        <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                            <div class="ui cancel button">Cancel</div>
                            <button class="ui right labeled icon button green saveBtn" onclick="addUser()">
                                Submit
                                <i class="checkmark icon"></i>
                            </button>
                            <button style="display: none" class="ui right labeled icon button green saveBtnLoad" >
                                Saving ...
                                <i class="checkmark icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui basic modal custom" id="deleteUser">
                <div class="ui icon header">
                    <i class="archive icon"></i>
                    Customer Details will be Deleted
                </div>
                <div class="content">
                    <p style="text-align: center">The Customer will be deleted, are you sure to delete this Customer?</p>
                </div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button">
                        <i class="remove icon"></i>
                        No
                    </div>
                    <input type="hidden" id="UserID">
                    <div class="ui green ok inverted button" onclick="deleteUser()">
                        <i class="checkmark icon"></i>
                        Yes
                    </div>
                </div>
            </div>

            <div class="ui modal" id="userModal">
                <i class="close icon"></i>
                <div class="header">
                    Edit Customer Details
                </div>
                <div class="content">

                    <form class="ui tiny form" id="EditForm">{% csrf_token %}
                        <div class="one fields">
                            <div class="sixteen wide field">
                                <label>Photo </label>

                                <div class="ui" style="width: 100%; text-align: center">
                                    <div class="ui icon header">
                                        <div class="inline ">

                                            <div class="avatar-upload">
                                                <div class="avatar-edit">
                                                    <input type='file' id="imageUploadEdit" name="photo"
                                                           accept=".png, .jpg, .jpeg"/>
                                                    <label for="imageUploadEdit"><i class="edit icon"
                                                                                    style="font-size: 1rem;padding: 0.4rem"></i>
                                                    </label>
                                                </div>
                                                <div class="avatar-preview">
                                                    <div id="cImgEdit"
                                                         style="background-image: url('https://cdn-icons.flaticon.com/png/512/4785/premium/4785452.png?token=exp=1651559899~hmac=8bd1641cd72c54268deafab8b26dd7a9');">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="one required fields">
                            <div class="sixteen wide field">
                                <label>Name</label>
                                <input type="text" name="Name" placeholder="Full Name" id="CompanyUserNameEdit">
                            </div>

                        </div>

                        <div class="two fields">
                            <div class="field required">
                                <label>Phone No.</label>
                                <input type="number" name="Phone" id="UserPhoneNoEdit" placeholder="Phone Number">
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input type="text" placeholder="Email Address" name="Email" id="UserEmailEdit">
                            </div>
                        </div>

                        <div class="field">

                            <div class="required fields">

                                <div class="sixteen wide field">
                                    <label>Address</label>
                                    <input type="text" name="shipping[address]" placeholder="Full Address"
                                           id="UserAddressEdit">
                                </div>

                            </div>
                        </div>
                        <div class="one fields">
                            <div class="sixteen wide field required">
                                <label>Group</label>
                                <select class="ui fluid dropdown" id="UserGroupEdit">
                                    <option value="" hidden>Group</option>
                                    {% for loc in locations %}
                                    <option value="{{ loc.id }}">{{ loc.name|capfirst }}</option>
                                    {% endfor %}


                                </select>
                            </div>

                        </div>

                        <input type="hidden" id="EditUserId">
                    </form>

                    <div class="actions" style="padding-top: 20px; padding-bottom: 20px ;float: right">
                        <div class="ui cancel button">Cancel</div>
                        <button class="ui right labeled icon button green saveBtn" onclick="editUser()">
                            Update
                            <i class="checkmark icon"></i>
                        </button>
                        <button style="display: none" class="ui right labeled icon button green saveBtnLoad" >
                            Saving ...
                            <i class="checkmark icon"></i>
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

    var userTab;

    function readURLPhoto(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#cImg').css('background-image', 'url(' + e.target.result + ')');
                $('#cImg').hide();
                $('#cImg').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imageUpload").change(function () {
        readURLPhoto(this);
    });


    function readURLPhotoEdit(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#cImgEdit').css('background-image', 'url(' + e.target.result + ')');
                $('#cImgEdit').hide();
                $('#cImgEdit').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imageUploadEdit").change(function () {
        readURLPhotoEdit(this);
    });


    function showUserModal() {
        $('#myModalUser').modal('show');
        myOwnReset();
    }

    function EditUser() {
        $('')
    }

    function addUser() {
        showLoading();
        var imageUpload = document.getElementById("imageUpload").files[0];
        var CompanyUserName = $('#CompanyUserName').val();
        var UserPhoneNo = $('#UserPhoneNo').val();
        var UserEmail = $('#UserEmail').val();
        var UserAddress = $('#UserAddress').val();
        var UserGroup = $('#UserGroup').val();

        if (CompanyUserName === '' || UserPhoneNo === '' || imageUpload === undefined ||
            UserAddress === '' || UserGroup === '') {
            $('body')
                .toast({
                    class: 'orange',
                    message: 'User Name, Phone Number, Photo, Address ... are required !. '
                })
            ;
            hideLoading();
            return false;
        }
            var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

            data = new FormData();
            data.append('profile_pic', imageUpload);
            data.append('name', CompanyUserName);
            data.append('phone', UserPhoneNo);
            data.append('email', UserEmail);
            data.append('address', UserAddress);
            data.append('location', UserGroup);


            data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: "{% url 'wma_api:add_customer_api' %}",
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.success) {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message:response.message
                                })
                            ;


                            userTab.ajax.reload(null, false);
                            $('#addForm').trigger('reset');
                            $('#myModalUser').modal('toggle');
                            hideLoading();
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: response.message
                                })
                            ;
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }
                });

    }


    // user Details

    userTab = $('#UserTable').DataTable({
        dom: 'Blfrtip',
        "scrollY": "350px",
        "scrollX": true,
        fixedColumns: {
            left: 1,
            right: 1
        },
        buttons: [{
            extend: 'excel',
            exportOptions: {
                columns: [1, 2, 3, 4, 5, 6, 7]
            }
        }

        ],
        language: {
            lengthMenu: "_MENU_ entries"
        },
        "columnDefs": [
            {"name": "photo", "targets": 0, "orderable": false},
            {"name": "customerId", "targets": 1, "orderable": true},
            {"name": "name", "targets": 2, "orderable": true},
            {"name": "locationID", "targets": 3, "orderable": true},
            {"name": "phone", "targets": 4, "orderable": true},
            {"name": "address", "targets": 5, "orderable": true},
            {"name": "addedByID", "targets": 6, "orderable": true},
            {"name": "datetime", "targets": 7, "orderable": true},
            {"name": "action", "targets": 8, "orderable": false}
        ],
        aaSorting: [[7, 'desc']],
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "pageLength": 10,
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'wma_api:CustomerListJson' %}"
    });


    function delUser(id) {
        $('#deleteUser')
            .modal('show')
        ;
        $('#UserID').val(id)
    }

    function deleteUser() {
        var id = $('#UserID').val();
        var formdata = new FormData();
        formdata.append('id', id);

        $.ajax({
            url: "{% url 'wma_api:delete_customer' %}",
            type: "post",
            data: formdata,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.success) {
                    $('body')
                        .toast({
                            class: 'success',
                            message: response.message
                        })
                    ;


                    userTab.ajax.reload(null, false);
                } else {
                    $('body')
                        .toast({
                            class: 'error',
                            message: response.message
                        })
                    ;

                }

                return response;
            },
            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                ;
            }
        });

    }

    function GetUserDetails(id) {
        myOwnReset();
        $('#userModal').modal('show');
        // var formdata = new FormData();
        // formdata.append('id', id);
        debugger;
        $.ajax({
            type: 'get',
            url: "{% url 'wma_api:get_customer_detail' %}",
            data: { id: id },
            success: function (response) {

                console.log(response);
                $('#EditUserId').val(response.data['id']);
                $('#CompanyUserNameEdit').val(response.data['name']);
                $('#UserPhoneNoEdit').val(response.data['phone']);
                $('#UserEmailEdit').val(response.data['email']);
                $('#UserAddressEdit').val(response.data['address']);
                $('#UserGroupEdit').val(response.data['location']).change();
                $('#cImgEdit').css('background-image', 'url(' + response.data['profile_pic'] + ')');


            },
            error: function () {
                $('body')
                    .toast({
                        class: 'error',
                        message: 'An error occurred !'
                    })
                ;
            }
        });
    }

    function editUser() {
        showLoading();
        var EditUserId = $('#EditUserId').val();
        var CompanyUserName = $('#CompanyUserNameEdit').val();
        var UserPhoneNo = $('#UserPhoneNoEdit').val();
        var UserEmail = $('#UserEmailEdit').val();
        var UserAddress = $('#UserAddressEdit').val();
        var location = $('#UserGroupEdit').val();



        if (CompanyUserName === '' || UserPhoneNo === '' ||
            UserAddress === '' || location === '') {
            $('body')
                .toast({
                    class: 'orange',
                    message: 'User Name, Phone Number, Address ... are required !.'
                })
            ;
            hideLoading();
            return false;
        }

            var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();

            data = new FormData();
            data.append('id', EditUserId);
            data.append('name', CompanyUserName);
            data.append('phone', UserPhoneNo);
            data.append('email', UserEmail);
            data.append('address', UserAddress);
            data.append('location', location);
            data.append('csrfmiddlewaretoken', csrfmiddlewaretoken);


                $.ajax({
                    type: 'post',
                    url: "{% url 'wma_api:update_customer_api' %}",
                    data: data,
                    contentType: false,
                    cache: false,
                    processData: false,


                    success: function (response) {
                        if (response.success) {
                            $('body')
                                .toast({
                                    class: 'success',
                                    message: response.message
                                })
                            ;


                            userTab.ajax.reload(null, false);
                            $('#EditForm').trigger('reset');
                            $('#userModal').modal('toggle');
                            hideLoading();
                        } else {
                            $('body')
                                .toast({
                                    class: 'error',
                                    message: response.message
                                })
                            ;
                            hideLoading();

                        }

                        return response;
                    },
                    error: function () {
                        $('body')
                            .toast({
                                class: 'error',
                                message: 'An error occurred !'
                            })
                        ;
                        hideLoading();
                    }
                });

    }

    $(document).ready(function(){
        $('.ui.form')
            .form({
                fields: {
                    fileInput:{
                        identifier: 'name',
                        rules: [
                            {
                                type : 'empty'
                            }
                        ]
                    }
                }
            });
    });

    function myOwnReset(){
        $('.ui.form').form('reset');
    }
</script>

{% endblock %}